// Define variables for your color scheme

// For example:

$light-blue: #DDF4FF;
$blue: #84D8FF;

$light-red: #FCDFE0;
$red: #F55354;
$dark-red: #EA2B2B;


$yellow: #F3F176;
$orange: #E67E22;

$lightest-green: #D7FFB8;
$light-green: #A5ED6E;
$green: #58CC04;
$dark-green: #61B600;

$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #FFB5EE;
$light-gray: #F0F0F0;
$white: #fff;
