// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #67C1F9;
$yellow: #F3F176;
$orange: #E67E22;
$green: #CEE892;
$gray: #0E0000;
$light-gray: #F4F4F4;
$pink: #FFB5EE;
$light-gray: #F0F0F0;
$white: #fff;
