.list-group-item {
  border: none !important;
}

.position-relative {
  position: relative;

}

.heading-with-underline {
  position: relative;
  display: inline-block;
  z-index: 1;
  background: white;
}

.underline-heading {
  position: absolute;
  left: 0;
  top: 50%; /* Adjust as necessary to move the underline up */
  transform: translateY(-50%); /* Center the underline vertically */
  border-bottom: 25px solid #f8d7da; /* Your desired color */
  width: 100%;
  z-index: 0;
}


.progress-image-container {
  width: 100%;
  max-width: 300px;
  height: 150px; /* Set the fixed height you want */
  overflow: hidden;
  margin-bottom: 0.5rem; /* Adjust this as needed */
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make the image cover the container */
  display: block;
}
