.feedback-border {
  border-top: 5px solid #F0F0F0;
  padding-top: 10px;
  height: 200px;
}

.feedback-success {
  background-color: $light-green;
}

.answer-disabled {
  border: 5px solid #F0F0F0 !important;
  border-radius: .5rem;
  padding: 20px 40px;
  margin: 5px;
  color: black;
  box-shadow: 4px 4px 0px #F0F0F0;
  margin-bottom: 1rem;
}

.answer-disabled:hover {
  box-shadow: 8px 8px 0px #F0F0F0;
}

.answer-active {
  border: 5px solid $blue !important;
  border-radius: .5rem;
  background-color: $light-blue;
  padding: 20px 40px;
  margin: 5px;
  color: black;
  box-shadow: 4px 4px 0px $blue;
  margin-bottom: 1rem;
}

.answer-success {
  border: 5px solid $light-green !important;
  background-color: $lightest-green;
  border-radius: .5rem;
  padding: 20px 40px;
  margin: 5px;
  color: black;
  box-shadow: 4px 4px 0px $light-green;
  margin-bottom: 1rem;
}

.answer-error {
  border: 5px solid $red !important;
  background-color: $light-red;
  border-radius: .5rem;
  padding: 20px 40px;
  margin: 5px;
  color: black;
  box-shadow: 4px 4px 0px $red;
  margin-bottom: 1rem;
}

.image-feedback {
  height: 100px;
  margin-right: 5rem;
}
 .container-image-step{
  width: 100%; /* The container will take up the full width of its parent */
  height: 400px; /* The container has a fixed height of 200px */
  overflow: hidden; /* Any overflow content will be hidden */
  margin-bottom: 0.5rem; /* Adds space below the container */
  position: relative;
 }

 .card-image-step{
  width: 100%; /* The image will take up the full width of the container */
  height: 100%; /* The image will take up the full height of the container */
  object-fit: cover; /* The image will cover the container, maintaining its aspect ratio */
  position: relative;
 }
