<div class="container text-center my-5" data-controller="celebration">
    <h1 class="mb-4">Congratulations!</h1>
    <p>You've completed the lesson <%= @lesson.title %></p>
    <img src="https://i.giphy.com/IwAZ6dvvvaTtdI8SD5.webp" alt="Celebration GIF" class="img-fluid mb-4">
    <p class="h4 font-weight-bold mb-2">Damn! Solid job.</p>
    <p class="text-muted mb-4">Time to dance.</p>
    <%# <div class="border border-dark d-inline-block p-3 mb-4">
      <%# <div>Total XP</div>
      <div class="h4 text-primary">35</div> %>
    <%# </div> %>

    <!-- New boxes for coins and streak -->
    <div class="d-flex justify-content-center mt-4">
        <div class="box text-center me-4">
            <div class="box-title">Coins</div>
            <div class="box-value"><%= current_user.coins %> 🪙</div>
        </div>
        <div class="box text-center">
            <div class="box-title">Streak</div>
            <div class="box-value"><%= current_user.streak %> 🔥</div>
        </div>
    </div>

    <div class="mt-4">
      <div class="col-11 d-flex justify-content-end">
        <div class="btn btn-light btn-outline-dark">
          <%= link_to course_path(@lesson.course.title) do %>
                Back to course
              <% end %>
        </div>
      </div>
    </div>
  </div>
