<h2 class="card-title"><%= @lesson.title %></h2>

<div class="card-step">
  <%= @step.content %>
</div>

<div class="card-answers">
  <% if @step.is_question %>
    <% @step.answers.each do |answer| %>
      <div class="card-answer">
        <%= answer.content %>
      </div>
    <% end %>
  <% end %>
</div>
