<div class="container">
<div class="my-5">
  <h2>🛍️ Store</h2>
 <!-- <p>Welcome to the Fingo Store!</p>-->
</div>

    <div class="row">
      <% @items.each_slice(2) do |row| %>
        <% row.each do |item| %>
          <% is_purchased = @user_purchased_items.include?(item) %>
          <%= render "card", item: item, is_purchased: is_purchased %>
        <% end %>
      <% end %>
    </div>
  </div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>
