.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.swal2-title{
  color: black!important;
}

.swal2-icon{
  color: black!important;
  border: solid 4px black!important;
}

.swal2-success-ring{
  color: black!important;
  border: solid 4px black!important;
}

.swal2-success{
  color: black!important;
  border: solid 4px black!important;
}

.swal2-icon{
  color: black!important;
  border: solid 4px black!important;
}

.swal2-success-line-tip{
  background-color: black!important;
}

.swal2-success-line-long{
  background-color: black!important;
}
