// all courses page

.card-course {
  border: 5px solid #000;
  overflow: hidden;
  background: white;
  box-shadow: 4px 4px 0px black;
  border-radius: .5rem;
  padding: 3rem;
}

.card-course:hover {
  box-shadow: 8px 8px 0px $black;
}

.card-image-container {
  width: 100%;
  max-width: 400px;
  height: 200px; /* Set the fixed height you want */
  overflow: hidden;
  margin-bottom: 0.5rem; /* Adjust this as needed */
  position: relative;
}

.card-image-container-lg {
  width: 100%; /* The container will take up the full width of its parent */
  max-width: 600px; /* The container will not exceed 600px in width */
  height: 200px; /* The container has a fixed height of 200px */
  overflow: hidden; /* Any overflow content will be hidden */
  margin-bottom: 0.5rem; /* Adds space below the container */
  position: relative; /* Sets the container's position to relative for absolute positioning of the image */
}

.card-image {
  width: 100%; /* The image will take up the full width of the container */
  height: 100%; /* The image will take up the full height of the container */
  object-fit: cover; /* The image will cover the container, maintaining its aspect ratio */
  position: absolute; /* The image is positioned absolutely within the container */
}

// .card-course p {
//   font-size: 20px;
// }

// course show page

.card-course-show {
  overflow: hidden;
  background: white;
  border-radius: .5rem;
  padding: 16px;
}

// celebration page card

.card-celebration {
  width: 150px;
  border: 5px solid $black;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  margin: 1rem;
}

.card-celebration-header {
  background-color:$black;
  color: white;
  padding: 10px;
  // border-bottom: 2px solid #F4C542;
}

.card-celebration-body {
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 4px;
}

.celebration-icon {
  width: 30px;
  height: 30px;
}

.celebration-value {
  font-size: 24px;
  color: $black;
  font-weight: bold;
}

// sign up and log in page

.card-form {
  border: 5px solid #000;
  overflow: hidden;
  background: #fff;
  box-shadow: 4px 4px 0px black;
  border-radius: .5rem;
  padding: 3rem;
}
