// all courses page

.card-course {
  border: 5px solid #000;
  overflow: hidden;
  background: white;
  box-shadow: 4px 4px 0px black;
  border-radius: .5rem;
  padding: 16px;
}

.card-course:hover {
  box-shadow: 8px 8px 0px $black;
}

.card-image-container {
  width: 100%;
  max-width: 400px;
  height: 200px; /* Set the fixed height you want */
  overflow: hidden;
  margin-bottom: 0.5rem; /* Adjust this as needed */
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make the image cover the container */
  position: absolute;
}

.card-course p {
  font-size: 20px;
}

// course show page

.card-course-show {
  overflow: hidden;
  background: white;
  border-radius: .5rem;
  padding: 16px;
}
