// .progress-bar.bg-info {
//   background-color: #17a2b8; /* blue for current step */
// }

// .progress-bar.bg-light {
//   background-color: #f8f9fa; /* light for upcoming steps */
// }

.progress-segment {
  background-color: #f8f9fa;
  border-radius: 5px;
  height: 10px;
  position: relative;
}

.progress-segment.bg-primary {
  background-color: #17a2b8;
}

.invisible-text {
  color: transparent; /* Make text invisible */
}
