<!-- Form -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8" data-controller="onboarding">
      <%= simple_form_for :questionnaire, url: url_for(action: action_name), method: :post, html: { class: 'onboarding-form' } do |f| %>
        <div class="list-group">
          <% @questions.each do |question| %>
            <label data-onboarding-target="label" class="list-group-item list-group-item-action d-flex align-items-center goal-option answer-disabled">
              <%= f.radio_button :goal, question[:content], class: 'form-check-input', "data-action" => "change->onboarding#activate" %>
              <span><%= question[:content] %></span>
            </label>
          <% end %>
        </div>
        <div class="button mt-3 text-center">
          <%= f.submit "Continue", class: "btn-custom-lesson d-none", "data-onboarding-target" => "submit" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
