
  <!-- Progress Bar -->
<div class="row fixed-top bg-white align-items-center mb-3 shadow-sm p-3 py-4 rounded" data-controller="progress">
  <div class="col-1">
    <i class="fas fa-arrow-left"></i> <!-- Font Awesome icon for the left arrow -->
  </div>
  <div class="col-10">
    <div class="progress progress-segment">
      <div data-progress-target="step1" class="progress-segment bg-primary flex-grow-1 mx-1" style="width: 33%;"></div>
      <div data-progress-target="step2" class="progress-segment bg-primary flex-grow-1 mx-1" style="width: 33%;"></div>
      <div data-progress-target="step3" class="progress-segment bg-primary flex-grow-1 mx-1" style="width: 34%;"></div>
    </div>
  </div>
  <div class="col-1">
    <i class="fas fa-arrow-right"></i> <!-- Font Awesome icon for the right arrow -->
  </div>
</div>
<!-- Title and Description -->
<div class="row mt-5 d-flex justify-content-center">
  <div class="col-12 text-center">
    <h2 class="card-title justify-content-center mt-5">What's your top goal?</h2>
    <p class="text-center">This will help us personalize your experience.</p>
  </div>

</div>
<%= render partial: 'onboarding/questionnaire_form' %>
