
<div class="container position-relative">
  <!-- Progress Bar -->
  <div class="row fixed-top bg-white align-items-center mb-3 shadow-sm p-3 py-4 rounded">
    <div class="col-1"></div>
    <div class="col-10">
       <div class="progress progress-segment">
        <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

<!-- Title -->
<div class="row mt-5 d-flex justify-content-center">
  <div class="col-12 text-center">
    <h2 class="card-title justify-content-center mt-5">What is your comfort level with math?</h2>
  </div>
</div>

<%= render partial: 'onboarding/questionnaire_form' %>
