// Graphical variables
@import "config/bootstrap_variables";
@import "config/fonts";
@import "config/colors";


// External libraries
@import "bootstrap";
@import "font-awesome";


// Your CSS partials
@import "components/index";
@import "pages/index";


// Global

.nav-link {
  padding: 0px;
}

a {
  text-decoration: none;
}

hr.basic {
  border: 1px solid #CCCCCC; /* Solid black line */
}

.custom-background {
  background-color: #FCDFE0;
}
